.banner {
    text-align: center;
    background-image: url(/assets/images/train.jpg);
    color: white;
}
.navbar-header {
    background-color: rgba(125, 130, 134, 0.7);
    width: 100%;
    height: 100%;
    margin: 0;
}
.my-section {
    padding: 0;
    border: 1px solid rgb(51,122,183);

}
.header-section {
    background-color: rgb(51,122,183);
    color: white;
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px 5px 0 0;
    margin: 0;
    
}
.info-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-section {
    padding-top: 20px;
    padding-bottom: 20px;

}
#current-train {
    border-collapse: collapse;
    width: 100%;
}

#current-train td, #current-train th {
    border-bottom: 1px solid rgb(133, 129, 129);
    padding: 8px;
}
  
#current-train tr:nth-child(even){
    background-color: #f2f2f2;
}
  
#current-train tr:hover {
    background-color: #ddd;
}
  